#modal {
  // position: absolute;
  width: 95%;
  max-width: 1650px;
  height: 100%;
  background: var(--background);
  border-radius: 10px;
  padding:10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  box-shadow: 3px 5px 10px 5px black;
  
  figure {
    width: 65%;
    
    #modalVideo {
      width: 100%;
      // box-shadow: 2px 3px 2px 3px black;
      border-radius: 5px 0 0 5px
    }
    
    img {
      width: 100%;
      // box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
      border-radius: 5px 0 0 5px;
    }
  }

  div {
    height: 100%;
    width: 35%;
    padding: 0 0px 0px 15px;
    h2 {
      height: 8%;
      margin: .4rem;
      font-size: 4rem;
      text-align: center;
    }
    p {
      overflow-y: scroll;
      height: 82.5%;
      font-size: 2.2rem;
      text-indent: 5rem;
      line-height: 2.4rem;
      // margin-bottom: 5px;
    }
    .links {
      height: 8%;
      width: 100%;
      // background: lightsalmon;
    }
  }
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  #modal {
    width: 95%;
    max-width: 780px;
    height: 90%;
    // max-height: 700px;
    background: var(--background);
    border-radius: 10px;
    padding:10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 3px 5px 10px 5px black;

    figure {
      width: 100%;

      #modalVideo {
        border-radius: 5px 5px 0 0;
      }
      
      img {
        border-radius: 5px 5px 0 0;
      }
    }

    div {
      width: 100%;
      height: auto;

      p {
        height: 100%;
      }
    }
  }
}